html {
    background: linear-gradient(to bottom, #97ccf1, #ffa500);
    background-repeat: no-repeat;
    /*background-size: cover; */
    width: 100%;
    height: 100%;
}

body {
    min-height: 100%
}

#city {
    margin-top: 60px;
    margin-bottom: 30px;
}

#temp {
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
}

i, #farenheit, #celsius {
    font-size: 10em;
}

#degreeF, #degreeC, #farenheit, #celsius {
    display: inline-block;
}

#degreeF, #degreeC, #city{
    font-size: 3em;
}

#degreeF, #degreeC{
    text-decoration: underline;
    cursor: pointer;
}

#condition {
    line-height: 1.6;
    display: block;
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    #city {
        font-size: 2em;
        margin-bottom: 15px;
    }
    
    .condition{
        margin-top: -50px;
    }
}